@config "../../tailwind.admin.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 75.9%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;
      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;
      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;
      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;
      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 25.1%;

      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 43 74% 66%;
      --chart-5: 340 75% 55%;
    }
  }

  /* CSS */
  .font-sans {
    font-feature-settings:
      "ss01" on,
      "ss02" off,
      "ss03" off,
      "ss04" off,
      "ss05" off,
      "ss06" off,
      "ss07" off,
      "ss08" on;
  }

  .font-display {
    font-feature-settings:
      "ss01" on, /* Alternate R */
      "ss02" on, /* Alternate Y and y */
      "ss03" on, /* Alernative Q, Ø, and ø */
      "ss04" off, /* Alernative a */
      "ss05" on, /* Alernative 1, 2, and 4 */
      "ss06" on, /* Alternate !, ?, and * */
      "ss07" on, /* Round punctuation */
      "ss08" off; /* Alternate arrows */
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* a,
  button,
  label[for],
  [href] [class*="group-hover"],
  button [class*="group-hover"] {
    @apply transition;
    @apply ease-out;
    @apply duration-150;
    @apply cursor-pointer;
  } */

  strong {
    @apply font-medium;
  }
  
  select:not([size]) {
    @apply bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nbHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24nPjxwYXRoIGQ9J202IDkgNiA2IDYtNicvPjwvc3ZnPg==')];
    @apply bg-no-repeat;
    @apply bg-[right_0.75rem_center];
    @apply bg-[length:1.25em_1.25em];
    @apply pr-10;
  
  }

  /* Chrome, Safari, Edge, Opera */
  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  /* Firefox */
  input[type='search']::-moz-search-cancel-button {
    display: none;
  }

  /* Microsoft Edge */
  input[type='search']::-ms-clear {
    display: none;
  }
}

svg.lucide:not([class*="stroke"]) {
  @apply !stroke-[1.75];
}

svg.lucide:not([class*="size-"]):not([class*="h-"]) {
  @apply size-[1em];
}

[href] svg[class*="arrow-up-right"]:last-child,
[type] svg[class*="arrow-up-right"]:last-child {
  @apply will-change-transform;
  @apply duration-150;
}

[href]:hover svg[class*="arrow-up-right"]:last-child,
[type]:hover svg[class*="arrow-up-right"]:last-child {
  @apply translate-x-[0.15em];
  @apply rotate-12;
}
