@config "../../tailwind.web.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 3rem;
    --header-top: 0.5rem;

    --color-background: 233 100% 4%;
    --color-foreground: 233 100% 97.5%;
    /* --color-background: 0 0% 100%;
    --color-foreground: 0 0% 15%; */
    --color-accent: 303 75% 25%;
  }

  @media (min-width: 768px) {
    :root {
      --header-top: 1rem;
    }
  }

  /* CSS */
  .font-sans {
    font-feature-settings:
      "ss01" on,
      "ss02" off,
      "ss03" off,
      "ss04" off,
      "ss05" off,
      "ss06" off,
      "ss07" off,
      "ss08" on;
  }

  .font-display {
    font-feature-settings:
      "ss01" on, /* Alternate R */
      "ss02" on, /* Alternate Y and y */
      "ss03" on, /* Alernative Q, Ø, and ø */
      "ss04" off, /* Alernative a */
      "ss05" on, /* Alernative 1, 2, and 4 */
      "ss06" on, /* Alternate !, ?, and * */
      "ss07" on, /* Round punctuation */
      "ss08" off; /* Alternate arrows */
  }

  @layer utilities {
    .animate-reveal {
      animation-timeline: view();
      animation-range-start: cover;
      animation-range-end: 15%;
    }

    .stars {
      overflow: hidden;
      mask-image: radial-gradient(circle, black, transparent);
      pointer-events: none;
      user-select: none;
    }

    .stars::before {
      content: "";
      position: absolute;
      inset: 0px;
      background: radial-gradient(circle at top center, hsla(var(--color-accent) / 1), transparent 70%);
      opacity: 0.5;
    }

    .stars svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: radial-gradient(circle at center top, black, transparent);
    }
  }
}

* {
  @apply border-foreground/15;
  @apply min-w-0;
}

a,
button,
label[for],
[href] [class*="group-hover"],
button [class*="group-hover"] {
  @apply transition;
  @apply ease-out;
  @apply duration-150;
  @apply cursor-pointer;
}

hr {
  @apply border-foreground;
  @apply opacity-15;
}

svg.lucide:not([class*="stroke"]) {
  @apply !stroke-[1.75];
}

svg.lucide:not([class*="size-"]):not([class*="h-"]) {
  @apply size-[1em];
}

[href] svg[class*="arrow-up-right"],
[type] svg[class*="arrow-up-right"] {
  @apply will-change-transform;
  @apply duration-150;
}

[href]:hover svg[class*="arrow-up-right"],
[type]:hover svg[class*="arrow-up-right"] {
  @apply translate-x-[0.15em];
  @apply rotate-12;
}

select:not([size]) {
  @apply bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNmZmYnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBjbGFzcz0nbHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWRvd24nPjxwYXRoIGQ9J202IDkgNiA2IDYtNicvPjwvc3ZnPg==')];
  @apply bg-no-repeat;
  @apply bg-[right_0.75rem_center];
  @apply bg-[length:1.25em_1.25em];
  @apply pr-10;
}
