@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 0 0% 100%;

  --color-card: 0 0% 96%;
  --color-card-dark: 0 0% 94%;
  --color-border: 0 0% 88%;
  --color-border-dark: 0 0% 83%;

  --color-muted: 0 0% 50%;
  --color-secondary: 0 0% 33.3%;
  --color-foreground: 0 0% 15%;
}

.dark {
  --color-background: 0 0% 5%;

  --color-card: 0 0% 11%;
  --color-card-dark: 0 0% 13%;
  --color-border: 0 0% 18%;
  --color-border-dark: 0 0% 25%;

  --color-muted: 0 0% 50%;
  --color-secondary: 0 0% 66.6%;
  --color-foreground: 0 0% 90%;
}

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    /* Contextual Alternates */ "calt" 1,
    /* Discretionary Ligatures */ "dlig" 1,
    /* fSquare punctuation */ "ss07" 1,
    /* Square quotes */ "ss08" 1,
    /* Slashed zero */ "zero" 1,
    /* Tabular numbers */ "tnum" 1,
    /* Open six */ "cv03" 1,
    /* Open nine */ "cv04" 1,
    /* Alternate one */ "cv01" 1,
    /* Flat-top three */ "cv09",
    /* Open 4 */ "cv02" 1;
}

@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@layer utilities {
  .animate-reveal {
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 15%;
  }
}

a,
button,
label[for],
[class*="group-hover"] {
  @apply transition;
  @apply ease-out;
  @apply duration-200;
  @apply cursor-pointer;
}

svg:not([class*="stroke"]) {
  @apply !stroke-[1.75];
}

svg:not([class*="size-"]):not([class*="h-"]) {
  @apply size-[1em];
}
