@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3.125rem;
  --header-top: 0.5rem;

  --color-background: 0 0% 100%;
  --color-foreground: 0 0% 15%;
  --color-accent: 217 91% 60%;
}

.dark {
  --color-background: 233 100% 4%;
  --color-foreground: 0 0% 95%;
  --color-accent: 217 91% 60%;
}

@media (min-width: 768px) {
  :root {
    --header-top: 1rem;
  }
}

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    /* Contextual Alternates */ "calt" 1,
    /* Discretionary Ligatures */ "dlig" 1,
    /* fSquare punctuation */ "ss07" 1,
    /* Square quotes */ "ss08" 1,
    /* Slashed zero */ "zero" 1,
    /* Tabular numbers */ "tnum" 1,
    /* Open six */ "cv03" 1,
    /* Open nine */ "cv04" 1,
    /* Alternate one */ "cv01" 1,
    /* Flat-top three */ "cv09",
    /* Open 4 */ "cv02" 1;
}

@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@layer utilities {
  .animate-reveal {
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 15%;
  }

  .stars {
    overflow: hidden;
    mask-image: radial-gradient(circle, black, transparent 80%);
    pointer-events: none;
    user-select: none;
  }

  .stars::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: radial-gradient(circle at bottom center, hsl(var(--color-accent)), transparent 70%);
    opacity: 0.4;
  }

  /* .stars::after {
    content: "";
    position: absolute;
    background: hsl(var(--color-background));
    width: 250%;
    left: -75%;
    aspect-ratio: 1 / 0.7;
    border-radius: 50%;
    outline: 1px solid hsl(242 41% 62% / 0.25);
    top: 50%;
  } */

  .stars svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: radial-gradient(circle at center bottom, black, transparent);
  }
}

a,
button,
label[for],
[href] [class*="group-hover"] {
  @apply transition;
  @apply ease-out;
  @apply duration-200;
  @apply cursor-pointer;
}

svg:not([class*="stroke"]) {
  @apply !stroke-[1.75];
}

svg.lucide:not([class*="size-"]):not([class*="h-"]) {
  @apply size-[1em];
}

/* Local fonts */
@font-face {
  font-family: "Satoshi Variable";
  font-style: normal;
  src:
    local(""),
    url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff");
}
