@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 3.125rem;
    --header-top: 0.5rem;

    --color-background: 0 0% 100%;
    --color-foreground: 0 0% 15%;
    --color-accent: 217 91% 60%;
  }


  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: 233 100% 4%;
      --color-foreground: 0 0% 95%;
      /* hsl(60, 100%, 99%) */
      --color-accent: 217 91% 60%;
    }
  }

  @media (min-width: 768px) {
    :root {
      --header-top: 1rem;
    }
  }

  /* CSS */
  :root {
    font-feature-settings:
      "ss01" on,
      "ss02" off,
      "ss03" off,
      "ss04" off,
      "ss05" off,
      "ss06" off,
      "ss07" off,
      "ss08" on;
  }

  @layer utilities {
    .animate-reveal {
      animation-timeline: view();
      animation-range-start: cover;
      animation-range-end: 10%;
    }

    .stars {
      overflow: hidden;
      mask-image: radial-gradient(circle, black, transparent 80%);
      pointer-events: none;
      user-select: none;
    }

    .stars::before {
      content: "";
      position: absolute;
      inset: 0px;
      background: radial-gradient(circle at bottom center, hsl(var(--color-accent)), transparent 70%);
      opacity: 0.4;
    }

    .stars svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: radial-gradient(circle at center bottom, black, transparent);
    }
  }
}

a,
button,
label[for],
[href] [class*="group-hover"],
button [class*="group-hover"] {
  @apply transition;
  @apply ease-out;
  @apply duration-200;
  @apply cursor-pointer;
}

svg.lucide:not([class*="stroke"]) {
  @apply !stroke-[1.75];
}

svg.lucide:not([class*="size-"]):not([class*="h-"]) {
  @apply size-[1em];
}
